/* Grade A, main styles. */
/* by FriendlyDesign.co */

/* Table of Content
==================================================
	# General Styles
	# Navigation Styles
	# Parallax Styles
	# Type Styles
	# Media Queries
	# Font Face 
	# Footer */


/* # General Styles
================================================== */
body{
    font-family:"proxima-nova", helvetica, arial, sans-serif;
}

.center {
	margin: auto;
	text-align: center;

}

.intro {
	margin-bottom: 50px;
}
.clients, .values, .leadership{
	margin-top: 50px;
	margin-bottom: 50px;
}


.calls {
	margin-top: 50px;
}

.getsocial {
	margin-bottom: 100px;
}

/* # Navigation Styles
================================================== */
 .navbar .container {
    margin: auto;
    width:80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
		-webkit-box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25);
        box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25);	
        -moz-box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25);
        background-color: rgba(255,255,255,0.5)
    }

.nav-collapse ul {
    float: right;
    padding-top: 25px;
    font-size: 1.5em;
    font-weight: 100;
    color: #4D4D4D;

}
.nav-collapse ul li {
    float: left;
    margin-right: 15px;
    list-style-type: none;
}
.nav-collapse ul li a {
    color: #4D4D4D;
}

.nav-collapse ul li a:hover {
    color: #666666;
    text-decoration: none;
    border-bottom: #C71949 solid 2px;
    padding-bottom: 5px;
}


/* #Parallax Styles
================================================== */
 img {
    width: 100%;
}
#introimg {
    background: url("../img/1.png") no-repeat center top fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 618px;
}
#intro {
    background: url(about-bg.jpg) 50% 0 no-repeat min-height: 1000px;
}

#clientsimg {
    background: url("../img/2.png") no-repeat center top fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 618px;
}
#clients {
    background: url(about-bg.jpg) 50% 0 no-repeat min-height: 1000px;
}

#valuesimg {
    background: url("../img/3.png") no-repeat center top fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 618px;
}
#values {
    background: url(about-bg.jpg) 50% 0 no-repeat min-height: 1000px;
}

#leadershipimg {
    background: url("../img/4.png") no-repeat center top fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 618px;
}
#leadership {
    background: url(about-bg.jpg) 50% 0 no-repeat min-height: 1000px;
}



/* For jquery change, navigation bar */
 .whitebackground {
    background-color: white;
}
/* #Type Styles
================================================== */

/* Note: different type styles are set by DOM section.*/
 p {
    font-size: 1.5em;
    font-weight: 400;
    color: #666666;
    line-height: 2em;
    margin-top: 50px;
}

.clients {
	margin-top: 50px;
}
.clients p {
    font-size: 1em;
    margin-top: 20px;
}
.clients mark {
    color: #C71949;
    background-color: transparent;
}

.calls p.center {
	clear: both;
	margin-top: 20px;
}
.calls a {
	font-size: 1.5em;
	font-family:"proxima-nova", helvetica, sans-serif;
}


#values ul li{
	font-size: 1.5em;
    font-weight: 400;
    color: #666666;
    line-height: 2em;
}


.leadership mark {
    color: #C71949;
    background-color: transparent;
}
a.btn-danger {
	width: 460px;
	background: #C71949; /* Old browsers */
	background: -moz-linear-gradient(top, #C71949 0%, #951337 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C71949), color-stop(100%,#951337)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #C71949 0%,#951337 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #C71949 0%,#951337 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #C71949 0%,#951337 100%); /* IE10+ */
	background: linear-gradient(to bottom, #C71949 0%,#951337 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C71949', endColorstr='#951337',GradientType=0 ); /* IE6-9 */
	font-family: Georgia, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 3.5em;
	text-shadow: 0px -1px 1px #8C8C8C;
    filter: dropshadow(color=#8C8C8C, offx=0, offy=-1);
	padding-top: 50px;
	padding-bottom: 50px;
	-webkit-box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25);
	box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25);	
    -moz-box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25);
}
.btn-danger:hover {
	background: #951337; /* Old browsers */
	background: -moz-linear-gradient(top, #951337 0%, #C71949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#951337), color-stop(100%,#C71949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #951337 0%,#C71949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #951337 0%,#C71949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #951337 0%,#C71949 100%); /* IE10+ */
	background: linear-gradient(to bottom, #951337 0%,#C71949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#951337', endColorstr='#C71949',GradientType=0 ); /* IE6-9 */
}

.btn-danger:active {
	background: #951337; 

}


h1{
	font-size: 4em;
	line-height: 4em;
	text-align: center;
	
}

/* # Media Queries
================================================== */
 @media screen and (max-width: 640px) {
    .row-fluid {
        padding: 0 0 20px;
    }
}
/* # @Font-Face
================================================== */



/* # Footer
================================================== */



#topfooter {
	text-align: center;
	background-color: #b3b3b3;
	padding:60px 40px 40px 40px;
	height: 100%;
	font-family: georgia, serif;
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	
}

#rule {
	border-top: #E6E6E6 1px solid;
	width: 100%;
	z-index: 0;
	text-align: center;
}

#rule h3{
	padding: 0;
	background-color: #b3b3b3;
	color: #E6E6E6;
	text-align: center;
	z-index: 100;
	width: 200px;
	margin:-20px auto 0 auto;
}

#mainfooter {
		background-color: #E6E6E6;
		color: #666;
		text-align: center;
		height: 100%;
		margin-top: 60px;
		margin-bottom: 60px;
}

#mainfooter p{
	padding: 0px;
	margin: 0px;
}

.copy {
	color: #B3B3B3;
	font-size: .8em;
}




