/* General Overrides
================================================== */
h1{
	text-align: left;
	margin-bottom:none;
}

h2{
	padding-bottom:20px;
}
h2 a{
	color:#000;
	text-decoration:none;
	font-weight:600;
}
h2 a:hover{
}

.article{
	padding-top:50px;
}

.rule{
		padding-top:30px;
		border-bottom:1px #E6E6E6 solid;
}
.content{
	margin-top: 155px;
}

.navigation{
	background-color:white;
	-webkit-box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25) !important;
	box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25) !important;	
	-moz-box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25) !important;
	z-index: 100 !important;
}
.secondarynav{
	margin-bottom:none;
	-webkit-box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25) !important;
	box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25) !important;	
	-moz-box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .25) !important;
	background-color:white;
	z-index:9;
}

.filter{
	color:#666 !important;
	display:inline-block;
	border:1px solid #E6E6E6;
	text-decoration: none;
	padding:5px 5px 5px 10px;
	width:100%;
	font-size:0.8em;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.filter:hover{
	color:#c71949 !important;
}
.f-dropdown{
	/*padding:0.7em;*/
}
.f-dropdown li a{
	font-size:1.2em;
	text-decoration:none;
	/*padding:5px 0;*/
}
.filter:before{
	display:block;
	content:" ";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #E6E6E6;
	width:0;
	height:0;
	position:absolute;
	right:35px;
	top:22px;
}

.article img{
	padding-top:10px;
}

.tag{
	font-size:.7em;
	color:#ffffff;
	font-weight: normal;
	float:left;
	padding-right:10px;
	padding-top:16px;

}
.tag a{
		background-color: #F1F1F1;
		padding:5px 13px 5px 13px;
		margin-top:1px;
		border: 1px #E6E6E6 solid;
		color:#808080;
		text-decoration: none;
}

.tag a:hover{
	background-color:#D8D8D8;
	border: 1px #C1C1C1 solid;

}

@media screen and (max-width: 767px){
	.filter{
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	.content{
	margin-top: 205px;
	}
}

@media screen and (max-width: 480px) {
	.filter{
		display:none;
	}
	}