/*////////Overall Styles/////////*/
.cover img{
	width:100%;
}

.intro, .about, .values{
	padding-bottom:70px;
	padding-top:30px;
}

/*////////Type Styles/////////*/
.about .values h1{
	font-size:3.158em; /*/ 60/19/*/
	color:#424243;
	text-align: center;
}

/*////////Section One Styles/////////*/
.intro p{
font-size:1.263em; /*/24/19/*/
}

.intro h1{
	font-size:3.158em; /*/ 60/19/*/
	color:#424243;
}

/*////////Section Two Styles/////////*/
.about h2{
	font-size:1.263em; /*/ 60/19/*/
	color:#cb0e49;
}

.about a{
	color:#cb0e49;
	text-decoration:underline;
}

.about a:hover{
	color:#9a0e3a;

}
/*////////Section Three Styles/////////*/